/*css reset*/
*{
    margin: 0;
    padding: 0;
}
/*NAVIGATION BAR */
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: #000;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
/*NAVIGATION BAR: logo and image*/
#logo{
    margin: 10px 34px;
    
}
#logo img{
    height: 56px;
    margin: 3px 6px;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li {
       /* color :white;*/
        list-style: none;
        font-size: 1.3rem;

}
#navbar ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
}
#navbar ul li a:hover{
    color: #000;
   background-color: white;
   
}
/*HOME SECTION*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 756px;
    justify-content: center;
    align-items: center;

}
#home::before{
    content: "";
    background:url('../PNG3.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 91%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}
#home h1{
    color: #fff;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/*sevices*/
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 5px solid red;
    padding: 24px;
    margin: 3px 6px;
    border-radius: 26px;
    background-color: rgb(223, 155, 107);
}
#services .box img{ 
     height: 250px;
     margin: auto;
     padding: 50px 2px;
     display: block;
}
#services p{
    color: blue;
    font-family: 'Bree Serif', serif;
    font-size: 24px;
}
#contact{
    font-size: 2.5rem;
    top: 354px;
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    background-image: url('../C1.jpg');
}
#contactbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contactbox input,
#contactbox input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.8rem;



}
#contactbox form{
    width: 40%;
}
#contactbox label{
    font-size: 1.3rem;
    font-family:'bree serif',serif;
}

/*CLIENT SECTION*/
#client-section{
    text-align: center;
    height:234px ;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bi.jpg') no-repeat center center/cover;
    width: 100%;
    right: 5px;
    height: 67%;
    z-index: -1;
    opacity: 0.9;
}
#clients{
    display: flex;
justify-content:center ;
    align-items: center;
}
.client-item{
    padding:  34px;
}
.client-item img{
   height: 144px;
}


#contact{
    position: relative;
    
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background-image: url('../C1.jpg') no-repeat ;
}
/*utility classes*/ 
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
        font-size: 1.8rem;
        padding: 12px;
        font-family: 'Bree Serif', serif;

}
.btn{
    padding: 6px 20px;
    border: 4px solid white;
    background-color: yellow;
    color: red;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 15px;
    font-family: 'Bree Serif', serif;
    cursor: pointer;


}
.centre{
    text-align: center;
}




